@font-face {
  font-family: "PT Sans Narrow";
  fonr-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans_narrow_400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Narrow";
  font-family: normal;
  font-weight: 700;
  src: url("../fonts/ptsans_narrow_700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 34px;
  color: #000000;
}

.page-body {
  margin: 0 auto;
  width: 1440px;
}

/* Header */
.page__header {
  display: flex;
  min-height: 614px;
  background-color: #95ad47;
  padding: 180px 165px 0px;
  position: relative;
  margin-bottom: 127px;
}

.page__header::after {
  display: block;
  content: "";
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: translateY(93%);
  background: linear-gradient(-5deg, rgba(0, 0, 0, 0) 50%, #95ad47 51%);
}

.name {
  font-family: "Playfair Display", serif;
  font-size: 126px;
  font-weight: 900;
  line-height: 112px;
  color: #000000;
  letter-spacing: -2px;
  margin: 0;
  margin-bottom: 40px;
}

.about-me__avatar {
  position: relative;
  margin-right: 125px;
}

.avatar-photo {
  min-width: 350px;
}

.nice-to {
  position: absolute;
  top: 241px;
  right: -39px;
}

.profession {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}

.button {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #017781;
  padding: 17px 22px 19px;
  width: 225px;
}

.button:hover {
  background-color: #3b494a;
}

.button:focus,
.button:active {
  background-color: #3b494a;
  outline: 2px solid #9e8c6c;
}

.about-me__button {
  letter-spacing: 2px;
  margin-bottom: 80px;
}

.about-me__header {
  display: flex;
  flex-direction: column;
  width: 635px;
}

/* main */

.page__main {
  padding: 115px 165px 120px;
  display: grid;
  grid-template-columns: 350px 635px;
  gap: 125px;
}

/* Sidebar */

.field-group__heading {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #9e8c6c;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.field-group {
  border: none;
  margin: 0;
  padding: 0;
}

.field-group:not(:last-child) {
  margin-bottom: 100px;
}

.field-group__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.traits-item:not(:last-child) {
  margin-bottom: 50px;
}

.works-link {
  text-decoration: none;
  color: #017781;
}

.works-link:hover {
  color: #3b494a;
}

.works-link:focus,
.works-link:active {
  outline: 2px solid #9e8c6c;
}

/* Blog */

.about-me {
  margin-bottom: 100px;
}

.about-me-title,
.blog-title {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
}

.article:not(:last-child) {
  margin-bottom: 66px;
}

.article-title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #9e8c6c;
  text-transform: uppercase;
}

.article-data {
  font-size: 18px;
  line-height: 24px;
}

.article-title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* footer */

.page-footer {
  min-height: 405px;
  background-color: #95ad47;
  position: relative;
}

.page-footer::before {
  display: block;
  content: "";
  width: 100%;
  height: 153px;
  position: absolute;
  top: 1px;
  left: 0;
  z-index: -1;
  transform: translateY(-100%);
  background: linear-gradient(175deg, rgba(0, 0, 0, 0) 50%, #95ad47 51%);
}

.footer-title {
  font-family: "Playfair Display", serif;
  font-size: 66px;
  font-weight: 900;
  line-height: 82px;
  color: #000000;
  letter-spacing: -1px;
  margin: 0;
  padding: 20px 450px 40px;
}

.my-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 66px;
}

.my-contacts-link {
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
  color: #ffffff;
  position: relative;
  margin-right: 40px;
}

.my-contacts-link:first-child::after {
  position: absolute;
  content: "";
  background-color: #ffffff;
  height: 38px;
  width: 4px;
  right: -22px;
}

.my-contacts-link:hover {
  color: #3b494a;
}

.my-contacts-link:focus,
.my-contacts-link:active,
.footer-social-link:focus,
.footer-social-link:active {
  outline: 2px solid #9e8c6c;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item:not(:last-child) {
  margin-right: 45px;
}

.footer-social-icon:hover {
  stroke: #3b494a;
}
